ul {
  @apply w-full h-96 flex flex-col gap-3 overflow-scroll bg-white rounded shadow-md;
}

ul:has(:focus) {
  @apply ring-2 ring-offset-2 ring-emerald-100;
}

li {
  @apply text-lg flex items-center gap-3 p-2 transition duration-150 focus:border-none focus:outline-none;
}

svg {
  @apply text-emerald-500;
}

.active {
  @apply bg-emerald-200 text-emerald-900;
}

.active svg {
  @apply text-emerald-900;
}
